@tailwind base;
@tailwind components;
@tailwind utilities;

/* Print utilities */
@media print {
  body {
    background-color: white !important;
  }
  
  .print-hidden {
    display: none !important;
  }
  
  @page {
    margin: 0;
    size: letter;
  }
}
